* {
    margin: 0px;
    padding: 0px;
}

@font-face {
    font-family: '3 theHard';
    src: url(/fonts/3\ theHard\ way\ RMX.ttf);
}


body {
    display: flex;
    flex-direction: column;
}

/********************************
***           MAIN            ***
********************************/


.main {
    display: flex;
    justify-content: space-around;
    font-family: '3 theHard';
}

/* Background
========================================================= */
.background {
    position: fixed;
    z-index: -100;
}

.background img:nth-child(1){
    height: 69vw;
}


/* Machine Space
========================================================= */

.machine {
    height: 68vw;
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.machinePhoto {
    height: 100%;
}

.machinePhoto img:nth-child(1) {
    height: 100%;
}

#death {
    text-transform: uppercase;
    text-align: center;
}

#coders-list {
    text-transform: uppercase;
    text-align: center;
}

.juego {
    z-index: -1;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(-37.8vw);
    height: 39.0%;
    width: 62%;
}

.juego img:first-child {
    height: 100%;
    z-index: -1;
}
.members_avatar {
position: fixed;
transform: translateY(0vh)
}
.avatares {
    height: 8vw;
}

/* List coders
========================================================= */

.coders {
    margin-left: 5%;
    margin-top: 20%;
    width: 20%;
    height: auto;
    color: rgb(142, 142, 142);
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    text-transform: uppercase;
    line-height: 3vw;
}

/* List death
========================================================= */

.death {
    margin-top: 20%;
    margin-right: 5%;
    width: 20%;
    height: auto;
    color: #841010;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    text-transform: uppercase;
    line-height: 3vw;
}

h2 {
    color: rgb(0, 0, 0) ;
    text-shadow: 1px 1px 2px #841010, 0 0 1em rgb(234, 234, 255), 0 0 0.2em rgb(177, 177, 177);
    margin-bottom: 10%;
    font-size: 2vw;
}

ul {
    font-size: 1vw;
    list-style: none;
}

/* Buttons
========================================================= */

.buttons {
    transform: translateY(-36vw); 
    height: 6vw;
}

.buttonRed {
    width: 6vw;
    background: none;
    border: none;
    cursor: pointer;
}


/********************************
***           POPUP           ***
********************************/

#overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    visibility: visible;
    opacity: 1;
    display: block;
}

#popupBody {
    width: 46%;
    padding: 2%;
    border-radius: 15px;
    box-shadow: 0 0 5px #CCC;
    background: #FFF;
    position: relative;
    margin: 20% auto;
    transition: all 5s ease-in-out;

}

#cerrar {
    position: absolute;
    top: 20px;
    right: 30px;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #F00;
    transition: all 200ms;
    cursor: pointer;
}
.playWith{
    font-family:'3 theHard';
}
 
.copy {
    bottom: 0;
    display: flex;
    align-items: center;
    color: white;
    background: linear-gradient(45deg, black, grey, rgb(255, 70, 42));
    height: 3vw;
    padding-left: 12vh;

} 

video {
    width: 100%;
    position: absolute;
    z-index: -1;
}

.press {
    position: fixed;
    margin-top: 80vh;
    height: 1vh;
    width: 15vw;
    color: #F00;
    background-color: black;
    cursor: pointer;
}

