
*{
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;

}

/********************************
***           VIDEO           ***
********************************/

video {
    width: 100vw;   
    position: absolute;
    z-index: -1;
}

.press {
    position: fixed;
    font-family:'Arial';
    font-size: 4vh;
    text-shadow: 1px 1px 2px #841010, 0 0 1em rgb(234, 234, 255), 0 0 0.2em rgb(177, 177, 177);
    border: none;
    background: none;
    cursor: pointer;
}

.press a{
    color: #841010;
    text-decoration: none;
}

.buttonIntro {
    position: absolute;
    display: flex;
    justify-content: center;
    width: 100%;
}

.videoFit{
    display: flex;
    flex-direction: column;
}

